.text {
    font-size: 9px;
}
h3 {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 2px;
}
img {
    width: 125px;
    height: 100px;
    opacity: 100%;
    text-align: center;
    justify-content: center;
    align-self: center;
}
.game-form {
    box-sizing: border-box;
    background-color: #fafafa;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #fafafa 10px), repeating-linear-gradient(#bfebb655, #bfebb6);
    padding: 10px;
    width: 470px;
    height: 240px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    color: #fff;
    color: black;
    justify-items: center;
}
.game-form:hover {
    transform: scale(1.025);
}
.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 8px;
}
.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-column-gap: 2.5%;
}
.classement-title {
    font-size: 14px;
    text-decoration: underline;
}
.classement-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    width: 310px;
    height: 100px;
    text-align: center;
    justify-content: center;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    background-color: whitesmoke;
    box-shadow: 3px 3px#606360;
}
.flex-column {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.selection-buttons {
    align-items: center;
    text-align: center;
    justify-items: center;
}
.button {
    margin: 15px;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: #1b1f2352 0 5px 0;
    box-sizing: content-box;
    width: 50px;
    height: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 9px;
    font-weight: 600;
    line-height: 10px;
    padding: 8px 10px;
    position: relative;
    text-align: center;
}
.button:hover {
    background-color: #2c974b;
}
.button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, 0.1);
    color: rgba(255, 255, 255, 0.8);
    cursor: default;
}
.title {
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    color: #214f18;
}
.difficulty-level {
    font-size: 14px;
}
.font {
    font-size: 11px;
}
